/* General */
html {
  box-sizing: border-box;
}
*,
*::before,
::after {
  box-sizing: inherit;
}
:root {
  --background-color: #ffffff;
  --color-primery: #2e2f42;
  --color-secondary: #434455;
  --color-action: #4d5ae5;
  --color-active-action: #404bbf;
  --color-section: #f4f4fd;
  --color-portfolio: #e5e5e5;
  --color-border-button: #e7e9fc;
  --color-client-website: #8e8f99;
  --color-background-social: #31d0aa;
  --modal-color: #fcfcfc;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-secondary);
  background-color: #ffffff;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}
.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* reset start */

h1,
h2,
h1,
p {
  margin: 0;
}
img {
  display: block;
}
/* reset end */

/* Header */
.start {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  color: var(--color-primery);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
}
.action {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  color: var(--color-action);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}
.span-color {
  color: var(--color-primery);
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu-head {
  display: block;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--color-primery);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-head:focus {
  color: var(--color-active-action);
}
.menu-head:hover {
  color: var(--color-active-action);
}

.menu-head::after {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  content: "";
  position: absolute;
  left: 0px;
  top: 69px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
.menu-head.current {
  color: var(--color-active-action);
}

.menu-head.current::after,
.menu-head:focus::after,
.menu-head:hover::after {
  background-color: var(--color-active-action);
}

.contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact {
  font-style: normal;
}
.contact {
  text-decoration: none;
  color: var(--color-secondary);
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover {
  color: var(--color-active-action);
}
.contact:focus {
  color: var(--color-active-action);
}

/* body */

/* Section-1 */

.hero-section {
  /* background-color: var(--color-primery); */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
}
.hero-text {
  margin: auto;
  padding: auto;
  max-width: 496px;
  color: var(--background-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}
.button {
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  border: none;
  color: var(--background-color);
  background-color: var(--color-action);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: var(--color-active-action);
}
.button:focus {
  background-color: var(--color-active-action);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  background-color: var(--modal-color);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  padding: 72px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title {
  color: var(--color-primery);
  display: block;
  letter-spacing: 0.02em;
  line-height: 24px;
  font-weight: 500;

  font-size: 16px;
  text-align: center;

  margin-bottom: 16px;
}
.modal-form {
}
.modal-form-label {
  font-size: 12px;
  display: block;
  margin-bottom: 4px;
  letter-spacing: 0.04em;
  line-height: 14px;
  font-weight: 400;
  color: var(--color-client-website);
}
.modal-form-field {
  position: relative;
  margin-bottom: 8px;
  font-size: 12px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 0 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline-color: var(--color-action);
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 0;
  fill: var(--color-primery);

  transform: translateY(-50%) translateX(16px);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--color-action);
}
.modal-form-massage {
  margin-bottom: 16px;
  display: block;
  font-size: 12px;
  width: 100%;
  padding: 8px 16px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-massage:focus {
  outline-color: var(--color-action);
}
.modal-form-massage::placeholder {
  font-size: 12px;
  letter-spacing: 0.04em;
  font-weight: 400;
}
.modal-form-agreement {
  display: flex;
  align-items: center;

  gap: 9px;
  margin-bottom: 24px;
}
.modal-form-agreement-box {
  appearance: none;
  width: 16px;
  height: 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-form-agreement-box:checked {
  background-color: var(--color-active-action);
  border-color: var(--color-active-action);
  background-size: 10px;
}
.modal-form-agreemant-text {
  font-size: 12px;
  letter-spacing: 0.04em;
  font-weight: 400;
  line-height: 14px;
}
.modal-form-agreement-link {
  color: var(--color-action);
}
.modal-send-button {
  display: block;
  margin: 0 auto;
}

/* Section-2 */

.second-section {
  padding: 120px 0;
}
.svg-items {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 264px;
  height: 112px;
  background: var(--color-section);
  border-radius: 4px;
  margin-bottom: 8px;
}
.advantages-icon {
  display: flex;
  justify-content: center;
}

.title-text {
  margin-bottom: 72px;
  color: var(--color-primery);
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-category {
  width: calc((100% - 72px) / 4);
}
.title-text-list {
  margin-bottom: 8px;
  margin-top: 0;
  color: var(--color-primery);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.main-text {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section-3 */

.img-section {
  padding-bottom: 120px;
}
.img-list {
  display: flex;
  gap: 24px;
}
.img-items {
  width: calc((100% - 48px) / 3);
}

/* Section-4 */

.team-seaction {
  background-color: var(--color-section);
  padding: 120px 0;
}
.team-card-list {
  display: flex;
  gap: 24px;
}
.team-card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color);
  width: calc((100% - 72px) / 4);
}

.overlay-label {
  width: 100%;
  height: 100%;
  text-align: left;
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-section);
  padding: 40px 32px;
  background-color: var(--color-action);

  position: absolute;

  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-box {
  position: relative;
  overflow: hidden;
}
.team-box:hover .overlay,
.team-box:focus .overlay {
  transform: translateY(0);
}
.team-info {
  padding: 32px 0;
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  margin-bottom: 8px;
  margin-top: 0;
  color: var(--color-primery);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-profession {
  margin-bottom: 8px;
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-action);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--color-active-action);
}
.social-icon {
  fill: var(--color-section);
}

/* Section-5 */
.title-text-clients {
  margin-bottom: 72px;
  color: var(--color-primery);
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.clients {
  padding: 120px 0;
}
.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.client-sites {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--color-client-website);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-sites:hover,
.client-sites:focus {
  color: var(--color-active-action);
  border-color: #404bbf;
}
.client-icons {
  fill: currentColor;
}

/* Footer */
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-text {
  margin-right: 120px;
}
.footer-social {
  margin-right: 80px;
}
.social-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-action);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--color-background-social);
}
.bottom-section {
  background-color: var(--color-primery);
  padding: 100px 0;
}

.action-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  color: var(--color-action);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}
.span-color-secondary {
  color: var(--color-section);
}
.notes {
  width: 264px;
  color: var(--color-section);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.social-media-buttom {
  color: var(--background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.subscribe-input {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 264px;
  height: 40px;
  padding: 8px 8px 8px 16px;
  opacity: 0.3;
  color: var(--background-color);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  border: 1px solid #ffffff;
}
.subscribe-input:focus,
.subscribe-input :not(:placeholder-shown) {
  opacity: 1;
}

.email-footer-label {
  position: absolute;
  top: calc(40px / 2);
  left: 16px;
  transform: translateY(-50%);
  opacity: 0.3;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--background-color);
  transition: transform var(--animation-time) var(--animation-cubic);
}
.email-footer-input:focus + .email-footer-label,
.email-footer-input:not(:placeholder-shown) + .email-footer-label {
  transform: translateY(-130%);
  opacity: 1;
  background-color: var(--dark-color);
}
.send-icon {
  fill: var(--background-color);
  margin-left: 16px;
}
.form-subscribe {
  display: flex;
  direction: flex;
  gap: 24px;
}
.footer-subscribe-form {
}
.footer-subscribe-text {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--background-color);
}
.footer-subscribe {
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
}
.button-subscribe {
  min-width: 165px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  font-weight: 500;
  color: var(--background-color);
  background-color: var(--color-action);
  border: none;
  height: 40px;
}

/* Section-Portfolio */

.portfolio-section {
  padding: 96px 0 120px;
}
.button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.button-items {
  border: 1px solid var(--color-border-button);
  border-radius: 4px;
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  color: var(--color-action);
  background-color: var(--color-section);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-items:hover {
  color: var(--background-color);
  background-color: var(--color-active-action);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-items:focus {
  color: var(--background-color);
  background-color: var(--color-active-action);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.link-card {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-card:hover,
.link-card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.link-card:hover .overlay-label,
.link-card:focus .overlay-label {
  transform: translateY(0);
}
.examples-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.examples-items {
  width: calc((100% - 48px) / 3);
}

.examples-info-items {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
